<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/src/css/materialize/materialize.min.css"/>
    <link rel="stylesheet" href="/src/css/custom/custom.css">
    <title>Codebreaker</title>
  </head>
  <body>
    <div class="row center-align">
      <div class="row">
        <img src="https://i.ytimg.com/vi/06bz-v5J5wc/maxresdefault.jpg" width="256">
      </div>
      <div class="row">
        <a href="/difficulty" class="waves-effect waves-light btn darken-3">Play again?</a>
      </div>
      <div class="row">
        <a href="/statistic" class="waves-effect waves-light btn darken-3">Statistics</a>
      </div>
    </div>

    <script src="/src/js/jquery-3.2.1.min.js"></script>
    <script src="/src/js/materialize.min.js"></script>
    <script src="/src/js/script.js"></script>
  </body>
</html>
